body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

aside {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 450px;
  height: 100%;
  overflow: hidden;
}

.filter {
  position: absolute;
  z-index: -1;
  left: -1rem;
  top: -1rem;
  width: 110%;
  height: 110%;
  background-size:cover;
  background-image: url("../images/city.jpg");
  filter: blur(10px) opacity(0.9);
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.img-photo {
  height: 150px;
  border-radius: 100%;
}

.user-name {
  margin-top: 40px;
  font-size: 22px;
  color: white;
}

.user-desc {
  margin-top: -5px;
  font-size: 16px;
  color: white;
}

.sidebar-manu {
  display: flex;
  justify-content: center;
}

.sidebar-manu-left,
.sidebar-manu-right {
  margin-top: 20px;
  margin-left: -30px;
  font-size: 1.1em;
  list-style-type: none;
}

.sidebar-manu-left li,
.sidebar-manu-right li {
  display: flex;
  align-items: center;
  margin-top: 40px
}

.sidebar-manu-left li img,
.sidebar-manu-right li img {
  height: 40px;
  margin-right: 20px;
}

.sidebar-manu-left li a,
.sidebar-manu-right li a {
  letter-spacing: 0.1ch;
  text-decoration: none;
  font-family: "sans-serif";
  font-weight: normal;

  color: #f2f3f4;
}

.blog-show {
  margin-left: 520px;
  overflow: hidden;
}

.main-article {
  display: block;
  font-family: "sans-serif";
  margin-top: 20px;
  margin-right: 20px;
}

.main-headline {
  color: #4a4a4a;
  font-size: 32px;
  font-weight: bolder;
}

.main-datetime {
  color: #9eabb3;
  font-size: 14px;
  font-weight: normal;
  margin-top: -2.5%;
}

.main-description {
  display: flex;
  color: #5d686f;
  font-size: 18px;
  font-weight: normal;
  font-family: "courier";
}

.main-article a {
  display: block;
  text-decoration: none;
}

.main-article img {
  padding-top: 5px;
  width: 98%;
  height: 400px;
}

.list-article {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.list-article a {
  display: block;
  text-decoration: none;
}

.blog-block-down {
  margin-left: 20px;
}

.blog-block-up-left {
  float: left;
  width: 20%;
  margin-top: 15px;
  margin-right: 10px;
}

.blog-block-up-right {
  float: left;
  width: 78%;
  height: 95%;
}

.blog-img {
  width: 20%;
  height: 15%;

  margin-left: 20px ;
  margin-top: 5px;
  margin-right: 10px;
  padding: 0;
}

.blog-title {
  width: 70%;
  height: 15%;

  margin-left: 20px;
  margin-top: -1%;
}

.blog-date {
  width: 70%;
  height: 15%;

  margin-left: 20px;
  color: #9eabb3;
  font-size: 14px;
  font-weight: normal;
  margin: -2px 0 10px 20px;
}

.blog-paragraph {
  width: 95%;
  height: 40%;

  margin-left: 20px;
  color: #5d686f;
  font-size: 18px;
  font-weight: normal;
  font-family: courier;
}

@media screen and (max-width: 1200px) {
  aside {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    overflow: hidden;
  }

  .blog-show {
    margin-left: 150px;
    overflow: hidden;
  }

  .img-photo {
    height: 60px;
    border-radius: 100%;
  }

  .user-name,
  .user-desc,
  .sidebar-manu-left li a,
  .sidebar-manu-right li a {
    display: none
  }

  .sidebar-manu-left li img,
  .sidebar-manu-right li img {
    height: 30px;
    margin-right: 20px;
  }

  .sidebar-manu {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .sidebar-manu-right {
    margin-top: -20px;
  }
}
