body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
}

.container aside {
    overflow: hidden;
}

.container aside .img {
    background: url(../images/city.jpg);
    filter: blur(10px) opacity(0.9);
    width: 420px;
    height: 110%;
    float: left;
    margin: -15px;
}

.container section {
    flex-grow: 1;
    z-index: 2;
    background-color: #fff;
}