body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
}

aside {
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;

  width: 300px;
  height: 100%;
}

.img {
  position: absolute;
  z-index: -1;
  left: -1rem;
  top: -1rem;
  width: 110%;
  height: 110%;
  background-size: cover;
  background-image: url(../images/city.jpg);
  filter: blur(10px) opacity(0.9);
}

.block-show {
  /* flex-grow: 1; */
  /* z-index: 2; */

  background-color: #fff;
  overflow-y: scroll;
}

.user-profile {
  position: fixed;
  padding-top: 0;

  width: 30%;
  height: 40%;
}

.user-pic {
  display: flex;
  margin-top: 10%;

  width: 100%;
  height: 45%;
}

.user-pic img {
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 40%;
  border-radius: 100%;
}

.user-name {
  text-align: center;
  margin-top: 10%;

  font-size: 1.4em;

  color: white;
}

.user-desc {
  text-align: center;
  width: 100%;
  margin-top: 5%;

  font-size: 1.2em;

  color: whitesmoke;
}

.sidebar-manu-left {
  position: fixed;
  top: 40%;
  width: 30%;
  margin-left: -5%;
  margin-top: 3%;

  font-size: 1.1em;
  list-style-type: none;
}

.sidebar-manu-right {
  position: fixed;
  top: 40%;
  width: 30%;
  margin-left: 7.5%;
  margin-top: 3%;

  font-size: 1.1em;
  list-style-type: none;
}

.sidebar-manu-left li,
.sidebar-manu-right li {
  margin: 0 0 10% 25%;
}

.sidebar-manu-left li img,
.sidebar-manu-right li img {
  width: 10%;
  margin-bottom: -3%;
}

.sidebar-manu-left li a,
.sidebar-manu-right li a {
  text-align: left;
  padding-bottom: 25px;

  letter-spacing: 0.1ch;
  text-decoration: none;
  font-family: "sans-serif";
  font-weight: normal;

  color: #f2f3f4;
}

.main-article {
  display: block;
  font-family: "sans-serif";
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 5%;
}

.main-headline {
  color: #4a4a4a;
  font-size: 32px;
  font-weight: bolder;
}

.main-datetime {
  color: #9eabb3;
  font-size: 14px;
  font-weight: normal;
  margin-top: -2.5%;
}

.main-description {
  display: flex;
  color: #5d686f;
  font-size: 18px;
  font-weight: normal;
  font-family: "courier";
}

.main-article a {
  display: block;
  text-decoration: none;
}

.main-article img {
  padding-top: 2%;
  width: 98%;
  height: 35%;
}

.list-article {
  display: block;
  font-family: sans-serif;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 6.6%;
  width: 83.3%;
  height: 30%;
}

.list-article a {
  display: block;
  text-decoration: none;
}

.blog-block-down {
  padding-left: 3.7%;
}

.blog-block-up-left {
  float: left;
  width: 20%;
  margin-top: 15px;
  margin-right: 10px;
}

.blog-block-up-right {
  float: left;
  width: 78%;
  height: 95%;
}

.blog-img {
  width: 20%;
  height: 15%;

  margin-left: 20px ;
  margin-top: 5px;
  margin-right: 10px;
  padding: 0;
}

.blog-title {
  width: 70%;
  height: 15%;

  margin-left: 20px;
  margin-top: -1%;
}

.blog-date {
  width: 70%;
  height: 15%;

  margin-left: 20px;
  color: #9eabb3;
  font-size: 14px;
  font-weight: normal;
  margin-top: 1.5%;
}

.blog-paragraph {
  width: 95%;
  height: 40%;

  margin-left: 20px;
  color: #5d686f;
  font-size: 18px;
  font-weight: normal;
  font-family: courier;
}

@media screen and (max-width: 1200px) {
  /* aside {
    overflow: hidden;
    width: 50%;
  } */
}