body {
  background-color: #17202a;
  font-family: Verdana;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.headline {
  color: #29d1f3;
  font-size: 22px;
  text-align: center;
  padding-top: 2.5%;
}

.first-article {
  padding-top: 5%;
  list-style-type: none;
}

.first-article li:first-child{
  padding-right: 55%;
}

.first-title {
  color: #29d1f3;
  text-align: right;
  font-size: 18px;
}

.first-desc {
  color: #a9a9aa;
  text-align: right;
}

.first-article li:last-child {
  padding-left: 55%;
  margin-top: -18%;
  width: 150px;
  position: relative;
}

.first-date {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  background-image: linear-gradient(to right, deeppink, dodgerblue);
  -webkit-background-clip: text;
  color: transparent;
}

.first-line {
  position: absolute;
  top: 26%;
  left: 52%;
  width: 3px;
  height: 180px;
  background:#fff;
}

.first-circle {
  position: absolute;
  top: 21%;
  left: 51.3%;
  width: 15px;
  height: 15px;
  background: #17202a;
  border-radius: 50%;
  border: 5px solid #29d1f3;
}

.second-article {
  position: relative;
  list-style-type: none;
  top: 30%;
}

.second-article li:first-child{
  width: 150px;
}

.second-date {
  position: absolute;
  top: -5%;
  left: 37%;
  font-size: 14px;
  text-align: right;
  font-weight: bold;
  background-image: linear-gradient(to right, deeppink, dodgerblue);
  -webkit-background-clip: text;
  color: transparent;
}

.second-article li:last-child {
  padding-left: 55%;
  margin-top: -3%;
}

.second-title {  
  color: #29d1f3;
  text-align: left;
  font-size: 18px;
}

.second-desc {
  color: #a9a9aa;
  text-align: left;
}

.second-line {
  position: absolute;
  top: 25%;
  left: 52.3%;
  width: 3px;
  height: 200px;
  background:#fff;
}

.second-circle {
  position: absolute;
  top: 2%;
  left: 51.5%;
  width: 22px;
  height: 22px;
  background-color: #29d1f3;
  border-radius: 50%;
}
