body {
  background-color: #17202a;
  font-family: Verdana;
  margin-left: 5%;
  margin-right: 5%;
}

.headline {
  color: #29d1f3;
  font-size: 24px;
  text-align: center;
}

.first-article {
  padding-top: 5%;
  list-style-type: none;
}

.second-article {
  position: relative;
  list-style-type: none;
  top: 30%;
}

.first-article li:first-child{
  padding-right: 55%;
}

.first-article li:last-child {
  padding-left: 55%;
  margin-top: -15%;
}

.second-article li:first-child{
  width: 150px;
}

.second-article li:last-child {
  padding-left: 55%;
  margin-top: -3%;
}


.first-title {
  color: #29d1f3;
  text-align: right;
  font-size: 18px;
}

.first-desc {
  color: #a9a9aa;
  text-align: right;
}

.first-date {
  width: 150px;
  font-size: 14px;
  background-image: linear-gradient(to right, deeppink, dodgerblue);
  -webkit-background-clip: text;
  color: transparent;
  text-align: left;
  font-weight: bold;
}

.second-date {
  font-size: 14px;
  background-image: linear-gradient(to right, deeppink, dodgerblue);
  -webkit-background-clip: text;
  color: transparent;
  text-align: right;
  font-weight: bold;
  position: relative;
  left: 275%
}

.second-title {  
  color: #29d1f3;
  text-align: left;
  font-size: 18px;
}

.second-desc {
  color: #a9a9aa;
  text-align: left;
}

.first-line {
  position: absolute;
  width: 3px;
  height: 200px;
  background:#fff;
  margin-top: 8.5%;
  margin-left: 47%;
}

.first-circle {
  width: 15px;
  height: 15px;
  background: #17202a;
  border-radius: 50%;
  border: 5px solid #29d1f3;
  margin-top: 6%;
  margin-left: 46.3%;
  position: absolute;

}

.second-line {
  position: absolute;
  width: 3px;
  height: 180px;
  background:#fff;
  margin-top: 4.5%;
  margin-left: 47%;
}

.second-circle {
  width: 22px;
  height: 22px;
  background-color: #29d1f3;
  border-radius: 50%;
  position: absolute;
  margin-top: 2%;
  margin-left: 46.3%;
}

