body {
  background-color: #17202a;
  font-family: Verdana;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.headline {
  color: #29d1f3;
  font-size: 22px;
  text-align: center;
  position: relative;
  top: 5%;
}

.first-article {
  list-style-type: none;
}

.first-article li:first-child{
  position: absolute;
  top: 17%;
  right: 52%;
  left: 12%;
}

.first-title {
  color: #29d1f3;
  text-align: right;
  font-size: 18px;
}

.first-desc {
  color: #a9a9aa;
  text-align: right;
}

.first-article li:last-child {
  position: absolute;
  top: 18%;
  left: 56%; 
  float: right;
  width: 150px;
}

.first-date {
  font-size: 14px;
  font-weight: bold;
  background-image: linear-gradient(to right, deeppink, dodgerblue);
  -webkit-background-clip: text;
  color: transparent;
}

.first-line {
  position: absolute;
  top: 24.5%;
  left: 52%;
  width: 3.5px;
  height: 230px;
  background:#fff;
}

.first-circle {
  position: absolute;
  top: 20%;
  left: 51.3%;
  width: 15px;
  height: 15px;
  background: #17202a;
  border-radius: 50%;
  border: 5px solid #29d1f3;
}

.second-article {
  list-style-type: none;
}

.second-article li:first-child{
  position: absolute;
  top: 55%;
  right: 50%;
  width: 150px;
}

.second-date {
  font-size: 14px;
  font-weight: bold;
  background-image: linear-gradient(to right, deeppink, dodgerblue);
  -webkit-background-clip: text;
  color: transparent;
}

.second-article li:last-child {
  position: absolute;
  top: 55%;
  right: 12%;
  left: 56%;
  float: right;
}

.second-title {  
  color: #29d1f3;
  text-align: left;
  font-size: 18px;
}

.second-desc {
  color: #a9a9aa;
  text-align: left;
}

.second-line {
  position: absolute;
  top: 61%;
  left: 52%;
  width: 3.5px;
  height: 230px;
  background:#fff;
}

.second-circle {
  position: absolute;
  top: 57%;
  left: 51.3%;
  width: 22px;
  height: 22px;
  background-color: #29d1f3;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .first-article li:first-child{
    top: 25%;
    left: 15%;
    right: 10%;
  }

  .first-title {
    text-align: left;
  }

  .first-desc {
    text-align: left;
  }

  .first-article li:last-child {
    left: 15%; 
  }

  .first-line {
    left: 12%;
  }

  .first-circle {
    left: 11.3%;
  }

  .second-article li:first-child{
    left: 15%;
  }

  .second-article li:last-child {
    top: 63%;
    right: 10%;
    left: 15%;
  }

  .second-line {
    left: 12%;
  }

  .second-circle {
    left: 11.3%;
  }